<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://eye-dear.herokuapp.com/">Eye-Dear Web Application</a> is an internship project in NomLab, Okayama University, to visualize data from sensors.
</p>