@import "bootstrap-sprockets";
@import "bootstrap";

$jet            : #333333;
$turqoise       : #48e5c2;
$snow           : #fcfaf9;
$dutch-white    : #f3d3bd;
$ebony          : #5e5e5e;
$mid-yellow-red : #f2ad80;

/* universal */

body {
  padding-top: 60px;
  background-color: $snow;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $turqoise;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $ebony;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $ebony;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $turqoise;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
   color: $dutch-white;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $turqoise;
  color: $ebony;
  a {
  	color: $ebony;
  	&:hover {
   		color: $ebony;
  	}
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar_header {
  margin-top: -15px;
  margin-bottom: -15px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.gravatar {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.gravatar_edit {
  float: left;
  position: relative;
  left: 40%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  a{
    margin-left: 25px;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.checkbox2 {
  float: left;
  left: 40%;
  margin-top: -10px;
  margin-bottom: 10px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin-right:0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/*dropdown*/

  .dropdown-menu a:hover{
    display: block;
    color: $dutch-white;
    background-color: $ebony;
  }

  .dropdown-menu{
    display: none;
    color: $snow;
    background-color: $ebony; /*dropdown bg colour*/
    & a{
      display: block;
    }
  }

  .dropdown{
    display: inline-block;
    &:hover .dropdown-menu{
      display: block;
    }
  }


/*custom*/
  .navbar {
  color: $snow;
  background: $jet;
    .navbar-nav li a {
      color: $snow;
      &:hover {
        color: $dutch-white;
        background-color: transparent;
      }
      &:focus {
        color: $dutch-white;
        background-color: transparent;
      }
      &:active {
        color: $dutch-white;
        background-color: transparent;
      }
    }
  }

  .jumbotron {
    color: $turqoise;
  }

  .btn-custom {
    color: $snow;
    background-color: $mid-yellow-red;
    &:hover{
      color: $snow;
      background-color: $dutch-white;
    }
  }

.move-left {
    width: auto;
    box-shadow: none;
  }

.custom {
    width: 30%;
}

.table-responsive {
  height:180px;
  display: block;
}

.chart-container {
  position: relative;
  height: 27vh;
  width: 68vw;
}